.movie {
    margin: 0 auto;
    width: 70%;
}

.movie__img {
    height: 300px;
}

.movie__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem 0;
}

.movie__publisher {
    text-transform: none;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 5px;
}

.movie__button {
    border: solid 2px #e74c3c;
    background: transparent;
    padding: 0.2rem 0.9rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}